$background-color: white;
$border-color: #d9d9d9;
$btn-color: #1890ff;

.pc-layout{
    min-height: calc(528px - 72px);
    .ant-layout-header{
        background-color: $background-color;
    }
    &-header{
        display: flex;
        align-items: center;
        justify-content: center;
        .ant-btn{
            background: #23C8EC;
            border: 1px solid #23C8EC;
            border-radius: 4px;
            display: block;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    &-content{
        background: $background-color;
        padding: 0 50px;
        .ant-row-flex{
            div.ant-col-7{
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: 1px solid transparent;
                border: {
                    color: $border-color;
                    radius: 5px;
                }
                cursor: pointer;
            }
        }
    }
}

.single-aparment{
    width: 200px;
    height: 125px;
    margin: 0 15px 20px 15px;
    position: relative;
    float: left;
    .button-group{
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        border: 0;
        width: calc(100% - 20px);
        display: flex;
        justify-content: flex-end;
        .single-apartment-btn{
            width: 25px;
            height: 25px;
            border-radius: 4px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                opacity: 0.8;
            }
        }
        .single-apartment-btn:nth-child(1){
            margin-right: 10px;
            background-color: #23C8EC;
            border-color: #23C8EC;
        }
        .single-apartment-btn:nth-child(2){
            background-color: #D52121;
            border-color: #D52121;
        }
    }
    &-img{
        display: inline-block;
        background-color: #33718c;
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-self: flex-start;
    }
    &-name{
        width: 100%;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 1.05rem;
        position: absolute;
        bottom: 25px;
    }
    .ant-card-body{
        padding: 5px 0;
        .single-apartment-content{
            text-align: center;
        }
    }
    .ant-card-actions{
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        li{
            border: 0;
            padding: 0 5px;
        }
        .single-apartment-btn{
            border-radius: 50%;
            margin: 0 5px;
        }
    }
}

.form__error {
    color: red;
  }