$background-color: white;
$border-color: #d9d9d9;
$btn-color: #1890ff;

.pc-layout{
    min-height: calc(528px - 72px);
    .ant-layout-header{
        background-color: $background-color;
    }
    &-header{
        .ant-btn{
            border-radius: 15px;
        }
    }
    &-content{
        background: $background-color;
        padding: 0 50px;
        .ant-row-flex{
            div.ant-col-7{
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: 1px solid transparent;
                border: {
                    color: $border-color;
                    radius: 5px;
                }
                cursor: pointer;
            }
        }
    }
}

.single-aparment{
    width: 150px;
    margin: 0 18px 20px 18px;
    position: relative;
    float: left;
    &-btn{
        border: 0;
        width: 100%;
        height: 100%;
    }
    &-img{
        display: inline-block;
        background-color: #33718c;
        width: 100%;
        height: 100px;
        object-fit: cover;
        align-self: flex-start;
    }
    .ant-card-body{
        padding: 5px 0;
        .single-apartment-content{
            text-align: center;
        }
    }
    .ant-card-actions{
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        li{
            border: 0;
            padding: 0 5px;
        }
        .single-apartment-btn{
            border-radius: 50%;
            margin: 0 5px;
        }
    }
}

.form__error {
    color: red;
  }