.notify {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1.5rem 2.5rem;
    text-align: center;
    &::after {
      display: block;
      content: " ";
      background-color: #e67e22;
      height: 2px;
      width: 15%;
      margin: 0 auto;
      @media only screen and (max-width: 500px) {
        width: 35%;
      }
    }
    @media only screen and (max-width: 768px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 500px) {
      font-size: 1.8rem;
    }
  }
  &__item {
    display: flex;
    border-top: 1px solid #f2f2f2;
    padding: 2rem 2.5rem 2rem 3rem;
    transition: all 0.3s;
    &:hover {
      // background-color: #f2f2f2;
      opacity: 0.8;
    }
    @media only screen and (max-width: 560px) {
      flex-direction: column;
    }
    &--left {
      flex-basis: 15%;
      margin-right: auto;
      font-weight: bold;
      @media only screen and (max-width: 560px) {
        align-self: center;
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
    &--right {
      width: 85%;
      flex-basis: 85%;
      background: #fff;
    }
    &--title {
      @media only screen and (max-width: 560px) {
        align-self: center; // margin-right: 0;
        // margin-bottom: 1rem;
      }
    }
  }
}

.notify-layout {
  padding: 0;
}
