.notify {
    &__new {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2rem;
      border-bottom: 1px solid lightgray;
  
      @media only screen and (max-width: 530px) {
        flex-direction: column;
      }
    }
  
    &__search {
      width: 30rem;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
  
      @media only screen and (max-width: 768px) {
        width: 21rem;
      }
  
      @media only screen and (max-width: 530px) {
        width: 100%;
      }
    }
  
    &__button {
      background: orangered;
      border: none;
      color: white;
      transition: all 0.4s;
  
      &:hover, &:active, &:focus {
        background: orangered;
        border: none;
        color: white;
        opacity: 0.7;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, .1);
      }
    
      &:hover {
        transform: translateX(-2rem);
  
        @media only screen and (max-width: 530px) {
          transform: translateY(0.3rem);  
        }
      }
  
      @media only screen and (max-width: 530px) {
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 100%;
      }
    }
  }
  
  .XDzdk {
    padding: 3rem 2rem 5rem 2rem;
  
    @media only screen and (max-width: 530px) {
      padding: 3rem 0.5rem 5rem 0.5rem;
    }
  }
  
  .lavFsg, .epGJJR {
    @media only screen and (max-width: 530px) {
      padding: 1.5rem;
    }
  }