.projectHeader{
  display: flex;
  background-color: #fff;
  height: auto;
  margin-bottom: 15px;
  padding: 5px 10px;
  &-btns{
      display: flex;
      align-items: center;
      .button-group__single{
          margin-right: 1rem;
      }
  }
  &-info{
      display: flex;
      flex-wrap: wrap;
      &-item{
          width: 35%;
          min-width: 250px;
          display: inline-block;
          padding: 5px 20px 0 20px;
          span:nth-child(1){
              width: 100px;
              display: inline-block;
              margin-right: 15px;
          }
          span:nth-child(2){
              font-weight: bold;
          }
      }
  }
}

.avatar-uploader{
    border: 0;
    height: auto;
}

.form__error {
    color: red;
}

.ant-form-item-label{
    text-align: left;
}