
.isoCalendarInputWrapper{
    .form-item{
        .ant-form-item-label{
            text-align: left;
          }
    }
}

.calendarHeader{
    &-info{
        width: 90%;
    }
    &-btns{
        width: 10%;
        display: flex;
        align-items: center;
        .button-group__single{
            margin-right: 1rem;
        }
    }
    &-status-info{
        width: 100%;
        height: auto;
        padding: 1rem 3rem 0 3rem;
        border-top: 1px solid lightgray;
        margin-top: 1rem;
        display: flex;
        &-item{
          width: 100px;
          position: relative;
          line-height: 1rem;
          margin: 0 auto;
          &:before{
            content: "";
            width: 1rem;
            height: 1rem;
            position: absolute;
            left: -2rem;
          }
          &:nth-child(1)::before{
            background-color: lightgrey;
          }
          &:nth-child(2)::before{
            background-color: lightgreen;
          }
          &:nth-child(3)::before{
            background-color: lightcoral;
          }
        }
    }
    .select-apartment{
        width: 300px;
        margin-bottom: 15px;
    }
    .apartment-info{
        width: 100%;
        display: flex;
        &-item{
            width: 35%;
            min-width: 250px;
            display: inline-block;
            padding: 10px 20px 0 20px;
            span:nth-child(1){
                width: 100px;
                display: inline-block;
                margin-right: 15px;
            }
            span:nth-child(2){
                font-weight: bold;
            }
        }
    }
}